/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffff; /* Cor de fundo azul claro */
}

header {
    background-color: #cfc0b5c6;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
    font-weight: bold; /* Títulos em negrito */
}

h2 {
    text-align: justify;
    font-family:'Times New Roman', Times, serif;
}

p {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 45px;
}

.content {
    padding: 20px;
}

article {
    padding: 20px;
    text-align: center;
    border: none;
    margin-bottom: 40px; /* Espaço entre os artigos */
}

.image-container {
    display: center;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente (opcional) */
    height: 100vh; /* Define a altura do contêiner (viewport height) */
}

img {
    max-width: 100%;
    height: 500px;
    margin: center;
}

footer {
    background-color: #cfc0b5c6;
    color: #333;
    text-align: center;
    padding: 20px;
}